.favorites {
    width: 85%;
    margin: auto;
    padding-top: 1.375em;
    display: flex;
    flex-direction: column;
    row-gap: 1.5em;
}

.favorites .header {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.favorites h1 {
    font-size: 1em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 0.3em;
    font-weight: 400;
    margin-bottom: 0.75rem;
    color: #6D6D6D;
}

.favorites h1 svg {
    color: var(--secondary-color);
}

.favorites .empty-favs {
    text-align: center;
    color: #6D6D6D;
    font-size: 1rem;
    width: 75%;
    margin: auto;
    margin-top: 2rem;
}

.favorites .header>div {
    display: flex;
    justify-content: space-between;
    width: 98%;
    align-items: center;
}

.favorites .header>div>svg {
    fill: var(--primary-color);
    font-size: 1.2rem;
    cursor: pointer;
}

.favorites .searchbar {
    height: 2em;
    background-color: var(--light-color);
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
    font-family: var(--main-font);
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    padding: 0.5em;
    box-sizing: border-box;
    column-gap: 0.3em;
}

.favorites .searchbar input {
    flex-grow: 1;
    padding: 0.3em;
    border: none;
    background-color: transparent;
    font-family: var(--main-font);
    outline: none;
}