.profile-notifications .notification {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 4em;
    width: 100%;
    background-color: var(--light-color);
    border-radius: 5px;
    padding: 0.5em 0;
    font-size: 0.825rem;
    color: initial;
    text-decoration: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.profile-notifications .notification .type {
    border-right: 1px solid var(--primary-color);
    width: 3.75em;
    flex-shrink: 0;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5em;
}

.profile-notifications .notification .type svg {
    width: 40%;
    color: var(--primary-color);
    height: auto;
}

.profile-notifications .notification strong {
    font-weight: 700;
}