.messageInputContainer {
    background-color: #f8f8f8;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    position: sticky;
    left: -25%;
    width: 100%;
    padding: 0 7.5%;
    padding-top: 0.3em;
    padding-bottom: 0.75em;
    gap: 1em;
    justify-content: space-between;
}

.messageInputContainer>div {
    flex-shrink: 0;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
    column-gap: 1em;
    background-color: var(--light-color);
    border: 1px solid #9F9F9F;
    border-radius: 20px;
    overflow: hidden;
    padding: 0.1em 1em;
}

.messageInputContainer>div svg {
    position: absolute;
    right: 0.5rem;
    color: var(--secondary-color);
    font-size: 1.5rem;
}

.messageInputContainer input {
    width: 90%;
    font-family: var(--main-font);
    color: var(--dark-color);
    border: none;
    outline: none;
    height: 2rem;
}

.messageInputContainer button {
    border: none;
    background-color: transparent;
    width: 2rem;
    cursor: pointer;
}

.messageInputContainer button>svg {
    color: var(--secondary-color);
    width: 100%;
    height: auto;
}