.review{
    padding: .4em 1em;
    margin: 0.5em 0;
    border: 1px solid #E9E9E9;
    border-radius: 4px;
}

.review .reviewHeader{
    display: flex;
    justify-content: space-between;
}

.reviewHeader .stars{
    font-size: 10px;
}

.review .reviewHeader .reviewer{
    display: flex;
    align-items: center;
    gap: 0.3em;
}

.reviewer .reviewerName{
    font-size: 12px;
    font-weight: 400;
}

.reviewer .reviewerCheck{
    font-size: 10px;
}

.review .reviewBody{
    box-sizing: border-box;
    margin-top: 0.5em;
    font-size: 10px;
}

.review .reviewFooter{
    margin-top: 0.5em;
    display: flex;
    justify-content: space-between;
}

.review .reviewInfo{
    display: flex;
    align-items: center;
    gap: .5em;
}

.review .reviewInfo .reviewTag{
    display: flex;
    align-items: center;
    font-size: 9px;
    background-color: #9E9E9E;
    color: #fff;
    padding: 0 1em;
    border-radius: 2px;
}

.review .reviewInfo .reviewDate{
    display: flex;
    align-items: center;
    font-size: 8px;
    font-weight: light;
}

.review .reviewActions{
    display: flex;
    gap: .4em; 
}