.filter-button {
    position: relative;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 0 1.5%;
    color: var(--primary-color);
    cursor: pointer;
    margin: auto;
    padding-top: 0.2em;
    z-index: 2;
    transition: box-shadow 0.3s;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    box-shadow: none;
}

.filter-button.open {
    color: var(--light-color);
    background-color: var(--primary-color);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.filter-button.open svg path{
    stroke: var(--light-color);
}

.filter-button.open .filter-pill {
    border-radius: 0;
}

.filter-button:first-child {
    margin-left: 0;
}

.filter-button:last-child {
    margin-right: 0;
}

.filter-button>svg {
    font-size: 17px;
}

.filter-button .filter-pill {
    border: none;
    background-color: var(--primary-color);
    color: var(--light-color);
    padding: 0.1rem 0.3rem;
    box-sizing: border-box;
    font-family: var(--main-font);
    font-size: min(2.9vw, 0.8rem);
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 0.3em;
}

.filter-button.open>svg {
    color: var(--light-color);
}

.filter-button.open .filter-pill svg {
    transform: rotateZ(-180deg);
}

.filter-button .filter-pill svg {
    font-size: 7px;
    transform: rotateZ(180deg);
}