.chat {
    padding: 1.375em 0;
}

.chat .container {
    width: 85%;
    margin: auto;
}

.not-logged {
    margin-top: 2.5em !important;
}

.chat .not-logged p {
    width: 60%;
}

.chat .user {
    display: flex;
    justify-content: space-between;
}

.chat .user .user-info {
    display: flex;
    justify-content: flex-start;
    flex-grow: 2;
}

.chat .user .user-info .profile-image {
    width: 2.5em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: var(--neutral-color);
    position: relative;
}

.chat .user .user-info .profile-image img {
    width: 100%;
    height: 100%;
}

.chat .user .user-info .profile-image .not-found{
    user-select: none;
}

.chat .user .user-info .profile-image .unread {
    position: absolute;
    z-index: 1;
    color: var(--neutral-color);
    top: -3%;
    right: -10%;
    width: 1.25rem;
    height: 1.25rem;
    font-size: 0.8rem;
    background-color: var(--secondary-color);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat .user .user-info .chat-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 0.3em;
    margin-left: 1em;
    flex-grow: 1;
}

.chat .user .user-info .chat-info .name {
    font-weight: 400;
    font-size: 0.875em;
}

.chat .user .user-info .chat-info .message,
.chat .user .user-info .chat-info .status,
.chat .user .time {
    font-size: 0.563em;
}

.chat .user .end-slot {
    flex-grow: 0;
}

.chat>.user .end-slot {
    background: transparent;
    border: none;
}

.chat>.user .end-slot svg {
    /* TODO: adjust width with final prototype */
    width: 2em;
    height: auto;
}

.chat .user .end-slot.time {
    padding-top: 0.6em;
}

.chat .searchbar {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--dark-color);
    padding-right: 0.25em;
    padding-bottom: 0.2em;
    margin: 1.5em auto;
}

.chat .searchbar input {
    border: none;
    padding: 0.425em 0;
    padding-left: 0.25em;
    flex-grow: 1;
    font-size: 0.625rem;
    font-family: var(--main-font);
}

.chat .searchbar button {
    border: none;
    width: 2em;
    background-color: transparent;
}

.chat hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    margin-top: 1em;
    margin-bottom: 1.5em;
}

.chat h2.container {
    font-weight: 400;
    font-size: 1.25em;
}

.chat-list a {
    display: block;
    color: inherit;
    text-decoration: none;
    margin-bottom: 2em;
}

/*Added on chat-test*/

.chat .searchresults{
    max-height: 10em;
    overflow-y: scroll;
}

.chat .searchresults .userresult{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 1.3em;
    height: 3em;
    border-bottom: 1px solid var(--neutral-color);
    margin-bottom: 0.3rem;
    cursor: pointer;
}

.chat .searchresults .userresult .profile-image, .chatMessages .user-info .profile-image{
    width: 2.5em;
    height: 2.5em;
    background-color: var(--neutral-color);
    display: flex;
    align-items: center;
    justify-content:center;
    border-radius: 100%;
}

.user-status-dot{
    display:block;
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: var(--status-color);
    bottom: 0;
    left: 70%;
    border-radius: 100%;
    border: 2px solid #fff;
}

.online{
    --status-color: green;
}

.offline{
    --status-color: rgb(122, 2, 2);
}

.chatMessages .messagesContainer{
    padding: 4em 0 2em 0;
    z-index: 0;
}

.chatMessages .chatHeader{
    box-sizing: border-box;
    background-color: #fff;
    padding: 1.3em 7%;
    position: fixed;
    top: 6.2em;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--neutral-color);
    margin-bottom: 1.3em;
    z-index:1;
}

.chatMessages .chatHeader .closeChatBtn{
    cursor: pointer;
    font-size: 24px;
}

.chatMessages .chatHeader .user-info{
    display: flex;
    align-items: center;
    gap: 1.5em;
}

.chatMessages .user-info .user-display{
    display: flex;
    flex-direction: column;
}

.chatMessages .user-info .user-display h2{
    font-size: 13px;
}

.chatMessages .user-info .user-display small{
    font-size: 9px;
}

.chatMessages .messagesContainer .message{
    position: relative;
    left: -0.3em;
    background-color: var(--neutral-color);
    padding: 0.7em;
    border-radius: 10px;
    width: 14rem;
    margin-bottom: 2em;
}

.chatMessages .messagesContainer .own{
    left: 5%;
    background-color: #33373E;
}

.chatMessages .messagesContainer .own .text{
    color: #FFFFFF;
}

.chatMessages .messagesContainer .message .text{
    font-size: 10px;
}

.chatMessages .messagesContainer .message .date{
    position: absolute;
    font-size: 7px;
    left: 70%;
    top: 110%;
}

.messageInputContainer{
    background-color: #fff;
    display: flex;
    box-sizing: border-box;
    position: fixed;
    align-items: center;
    left: 0;
    bottom: 4em;
    padding: 1em 5%;
    width: 100%;
    gap: 1em;
}

.messageInputContainer input{
    flex-basis: 95%;
    padding: 0 1em;
    background-color: #e6e6e6;
    border: none;
    outline: none;
    border-radius: 10px;
    height: 29px;
}

.messageInputContainer svg{
    color: #C4C4C4;
    font-size: 21px;
    cursor: pointer;
}