.profile {
    width: 85%;
    min-height: var(--content-height);
    margin: auto;
}

.profile h1 {
    display: flex;
    justify-content: flex-start;
    padding-left: 0.75rem;
    align-items: center;
    font-weight: 700;
    font-size: 1.5em;
    column-gap: 1rem;
    padding-top: 3.375rem;
    margin-bottom: 1rem;
}

.profile .not-logged {
    width: 70%;
}

.profile h1 img {
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--neutral-color);
    border-radius: 100%;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile hr {
    border: none;
    height: 0;
    border-top: 1px solid var(--dark-color);
}

.profile .navigationList {
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: stretch;
}

.profile nav a {
    text-decoration: none;
    color: var(--dark-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
    box-sizing: border-box;
    padding: 0.563rem 0.75rem;
    border-bottom: 1px solid var(--neutral-color);
    margin-bottom: 0.5rem;
    font-weight: 600;
    font-size: 1rem;
}

.profile nav a p {
    flex-grow: 1;
    margin-left: 1rem;
}

.profile section>h2 {
    font-weight: 600;
    font-size: 1em;
}

.profile .user-info {
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
    width: 100%;
    margin-bottom: 1em;
}

.profile .user-reviews h2 {
    margin-bottom: 0.75em;
}

.profile .user-reviews .reviews-container {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    justify-content: flex-start;
}