.filter-button-wrapper {
    position: absolute;
    padding-top: 0.1em;
    width: 100%;
    left: 0;
    z-index: -1;
    background-color: var(--primary-color);
    border-bottom-left-radius: 4px;
    color: var(--light-color);
    border-bottom-right-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    animation: fade-in 0.3s normal forwards;
}

.filter-button-wrapper fieldset {
    border: none;
}

.filter-button-wrapper.open {
    display: flex;
}

.filter-button-wrapper.closed {
    display: none;
}

.filter-button-wrapper.score {
    animation: fade-in 0.3s normal forwards;
}

.filter-button-options {
    box-sizing: border-box;
    width: 90%;
    font-size: 10px;
    list-style-type: none;
    text-align: start;
    margin: 0.5em 0;
}

@media only screen and (max-width: 713px) {
    .filter-button-options label span {
        font-size: 8px !important;
        width: 60% !important;
    }

    .filter-button-options .radiobutton {
        width: 0.6em !important;
        height: 0.6em !important;
    }

    .filter-button-options li svg {
        font-size: 0.75rem !important;
    }
}

.filter-button-options label:not(:last-child) {
    margin-bottom: 1em;
}

.filter-button-options label,
.filter-button-options li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter-button-options label span {
    width: 70%;
    word-wrap: break-word;
    white-space: pre-line;
}

.filter-button-options li svg {
    flex-shrink: 0;
    font-size: 0.9rem;
}

.filter-button-options li.score-filter {
    justify-content: space-around;
}

.filter-button-options .radiobutton {
    appearance: none;
    background-color: transparent;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

.filter-button-options .radiobutton::before {
    content: "";
    width: 0.3em;
    border-radius: 1px;
    height: 0.5em;
    border: 2px solid var(--light-color);
    border-top: none;
    border-left: none;
    opacity: 0;
    transform: rotateZ(35deg) translateX(0.05em) translateY(-0.1em);
    transition: opacity 0.2s ease-in-out;
}

.filter-button-options .radiobutton:checked::before {
    opacity: 1;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        top: 0;
    }

    100% {
        opacity: 1;
        top: 100%;
    }
}