.property.detail{
    width: 90%;
    margin: 6em auto 1em auto;
}

.propertyImgContainer{
    position: relative;
}

.chatBtn{
    display: flex;
    gap: .7em;
    align-items: center;
    position: absolute;
    z-index: 3;
    background-color: #fff;
    padding: .4em 1em .4em .5em;
    right: 3%;
    bottom: 5%;
    border-radius: 13.5px;
    font-size: 10px;
}

.chatBtn svg{
    font-size: 16px;
}

.propertyRules .propertyRulesTitle, .propertySpecs .propertySpecsTitle{
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: .3em;
}

.propertyRules svg, .propertySpecs svg{
    color: var(--primary-color);
    font-size: 10px;
}

.propertyRules .propertyRulesTitle{
    cursor: pointer;
}

