.snText {
    position: relative;
    text-align: center;
    color: var(--dark-color);
    margin-top: 1.625rem;
}

.snText::before {
    content: '';
    position: absolute;
    left: 0;
    top: 10.5px;
    width: 100%;
    border-bottom: 1.5px solid var(--dark-color);
    z-index: -1;
}

.snText::after {
    content: 'o continuar con';
    padding: 0 9px;
    background-color: var(--background-color);
    z-index: 1;
}

.snLinks {
    margin-top: 35px;
    display: flex;
    justify-content: center;
    gap: 45px;
    color: var(--secondary-color);
}

.snLinks svg {
    font-size: 28px;
    cursor: pointer;
}