.applied-filters-container{
    margin-top: 1em;
    display: flex;
    align-items: center;
}

.applied-filter{
    position: relative;
    display: flex;
    background-color: var(--primary-color);
    color: var(--light-color);
    height: 18px;
    font-size: 12px;
    border-radius: 12px;
    padding: .2em 1.5em .2em .5em;
    cursor: pointer;
}

.applied-filter span{
    position: absolute;
    top: 15%;
    right: 3%;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-color);
    color: black;
    height: 10px;
    width: 10px;
    font-size: 10px;
    border-radius: 100%;
    padding: .2em;
}

.applied-filter .stars{
    color: var(--light-color);
}