.chatMessages {
  height: calc(100vh - 150px);
  background-color: #f8f8f8;
}

.chatMessages .container {
  display: flex;
  height: 100%;
  margin: auto;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.chatMessages .messagesContainer {
  width: 85%;
  margin: auto;
  height: 100%;
  z-index: 0;
  overflow-y: scroll;
  position: relative;
  display: flex;
  top: 0;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 1.5rem;
  padding: 1em 0;
}

.chatMessages .chatHeader {
  width: 85%;
  margin: auto;
  padding: 1.3em 7%;
  height: 5rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--dark-color);
  z-index: 1;
  position: sticky;
  background-color: #f8f8f8;
}

.chatMessages .chatHeader .user-info {
  display: flex;
  align-items: center;
  gap: 1em;
}

.chatMessages .user-info .user-display {
  display: flex;
  flex-direction: column;
}

.chatMessages .user-info .user-display h2 {
  font-size: 0.75rem;
}

.chatMessages .user-info .user-display small {
  font-size: 0.563rem;
  color: #818181;
}

.chatMessages .messagesContainer .message {
  position: relative;
  background-color: var(--primary-color);
  padding: 0.7em 1em;
  border-radius: 20px;
  min-width: 8rem;
  max-width: 14rem;
  align-self: flex-start;
}

.chatMessages .messagesContainer .own {
  align-self: flex-end;
  background-color: #E1E1E1;
}

.chatMessages .messagesContainer .own .text {
  color: var(--dark-color) !important;
}

.chatMessages .messagesContainer .message .text {
  font-size: 0.625rem;
  color: var(--light-color);
}

.chatMessages .messagesContainer .message .date {
  position: absolute;
  font-size: 0.438rem;
  width: max-content;
  right: 0.8rem;
  bottom: -0.8rem;
  color: #676767;
}