.search {
    background-color: #f8f8f8;
}

.search .container {
    width: 90%;
    padding-top: 1.375em;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.search .container .searchHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1em;
}

.search .container .searchHeader .searchBar {
    flex-basis: 95%;
    position: relative;
}

.search .container .searchHeader .searchNotification {
    font-size: 22px;
    flex-basis: 5%;
    cursor: pointer;
}

.search .container .searchHeader .searchInput {
    box-sizing: border-box;
    background-color: var(--light-color);
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
    font-family: var(--main-font);
    font-size: 0.75rem;
    color: var(--dark-color);
    height: 29.78px;
    width: 100%;
    padding-left: 2.25rem;
    border-radius: 20px;
    outline: none;
    border: none;
    z-index: 0;
    position: relative;
}

.search .container .searchHeader .searchInputIcon {
    left: 0.5em;
    top: 0.45em;
    z-index: 1;
    position: absolute;
}