.search .container {
    width: 90%;
    margin: calc(100px + 25px) auto 0 auto;
    display: flex;
    flex-direction: column;
}

.search .container .searchHeader {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1em;
}

.search .container .searchHeader .searchBar {
    flex-basis: 95%;
    position: relative;
}

.search .container .searchHeader .searchNotification {
    font-size: 22px;
    flex-basis: 5%;
    cursor: pointer;
}

.search .container .searchHeader .searchInput {
    box-sizing: border-box;
    background-color: var(--neutral-color);
    height: 29.78px;
    width: 100%;
    padding-left: 2.7em;
    border-radius: 20px;
    outline: none;
    border: none;
    z-index: 0;
    position: relative;
}

.search .container .searchHeader .searchInputIcon {
    left: 0.5em;
    top: 0.45em;
    z-index: 1;
    position: absolute;
}