.chat .searchresults {
    max-height: 10em;
    overflow-y: scroll;
}

.chat .searchresults .userresult {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 1.3em;
    height: 3em;
    border-bottom: 1px solid var(--neutral-color);
    margin-bottom: 0.3rem;
    cursor: pointer;
}