.login {
    margin-top: calc(75px + 35px);
    /*calc first param comes from header height*/
}

.login .container {
    width: 90%;
    margin: auto;
}

.login .container form {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    gap: 12px;
}

.loginHeading {
    font-weight: 500;
}

.recoverPasswordLink {
    color: var(--dark-color);
    font-style: italic;
    margin-bottom: 1.625rem;
}

.formGroup {
    display: flex;
    flex-direction: column;
}

.formGroup label {
    margin-left: 1em;
    color: var(--dark-color);
}

.formGroup input {
    border: none;
    outline: none;
    padding: 10px 25px;
    border-radius: 17px;
    font-family: var(--main-font);
    font-size: 0.825rem;
    background-color: var(--light-color);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
}

.btn {
    cursor: pointer;
    font-size: 1em;
    padding: 0.625rem 0;
    width: 100%;
    outline: none;
    border: none;
    color: var(--light-color);
    border-radius: 20px;
    background-color: var(--primary-color);
    font-family: var(--main-font);
}

.newUser {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
    gap: 10px;
}