* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font), sans-serif !important;
  font-size: 16px;
  margin-bottom: 65px;
}

main {
  margin-top: 100px;
  min-height: calc(100vh - 150px);
}

:root {
  --primary-color: #0198DB;
  --secondary-color: #F8721A;
  --neutral-color: #e8e8e8;
  --dark-color: #191920;
  --main-font: 'Nunito Sans', sans-serif;
}

.hide {
  display: none;
}