* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font), sans-serif !important;
  font-size: 16px;
  margin-bottom: 75px;
  background-color: var(--background-color);
}

main {
  margin-top: 75px;
  min-height: calc(100vh - 150px);
}

:root {
  --primary-color: #F8721A;
  --secondary-color: #0198DB;
  --background-color: #e8e8e8;
  --light-color: #fff;
  --dark-color: #191920;
  --success-color: #61D35E;
  --main-font: 'Nunito Sans', sans-serif;
  --content-height: calc(100vh - 150px);
}

.hide {
  display: none;
}