.favoritesOrderButton .favoritesOrderButtonWrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: -30%;
    left: -340%;
    padding: 0.8em 0.2em;
    width: 9em;
    font-size: 10px;
    background-color: var(--primary-color);
    color: var(--light-color);
    border-radius: 4px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.favoritesOrderButton .favoritesOrderButtonWrapper.open {
    display: flex;
}

.favoritesOrderButton .favoritesOrderButtonWrapper.open {
    display: none;
}

.favoritesOrderButton .favoritesOrderButtonWrapper p {
    font-size: 12px;
}

.favoritesOrderButton .favoritesOrderButtonWrapper p svg {
    font-size: 9px;
    margin-left: .3em;
}

.favoritesOrderButton .favoritesOrderButtonWrapper svg {
    fill: var(--light-color);
}

.favoritesOrderButton .favoritesOrderButtonWrapper fieldset {
    margin-top: 0.9em;
    border: none;
    list-style-type: none;
    width: 95%;
}

.favoritesOrderButton .favoritesOrderButtonWrapper fieldset label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.2em;
}

.favoritesOrderButton .favoritesOrderButtonWrapper fieldset label:not(:last-child) {
    margin-bottom: 0.4em;
}

.favoritesOrderButton .favoritesOrderButtonWrapper fieldset label svg {
    font-size: 10px;
}

.favoritesOrderButton .favoritesOrderButtonWrapper fieldset label .radiobutton {
    appearance: none;
    background-color: transparent;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}

.favoritesOrderButton .favoritesOrderButtonWrapper fieldset label .radiobutton::before {
    content: "";
    width: 0.3em;
    border-radius: 1px;
    height: 0.5em;
    border: 2px solid var(--light-color);
    border-top: none;
    border-left: none;
    opacity: 0;
    transform: rotateZ(35deg) translateX(0.05em) translateY(-0.1em);
    transition: opacity 0.2s ease-in-out;
}

.favoritesOrderButton .favoritesOrderButtonWrapper fieldset label .radiobutton:checked::before {
    opacity: 1;
}